.serach-from{
    width: 100%;
    max-width: 600px;

}
.search-form-elem{
    padding: 1.4rem 2.8rem;
    border-radius: 3.8rem;
}
.search-form-elem .form-control{
    font-size: 2rem;
    padding: 0.2rem;
}
.search-form-elem .form-control::placeholder{
    opacity: 0.9;
}
.search-form-elem input{
    width: 60%;
}
