.booklist, .book-details{
    padding: 3rem 0;
    background-color: #f8f9fa;
}
.booklist-content{
    gap: 3rem;
}
.book-item{
    padding: 3rem 2rem;
    border-radius: 4px;
    background-color: var(--white-color);
    /* box-shadow: 2px 2px 5px rgb(228, 228, 228); */
    filter: drop-shadow(1px 1px  3px #dddddd);
    transition: var(--transition);
    border-radius: 4px;
}
.book-item:hover{
    filter: drop-shadow(2px 2px  8px #c7c7c7);
}
.book-item-img img{
    max-width: 180px;
    margin-right: auto;
    margin-left: auto;
}
.book-item-info{
    margin-top: 2rem;
}
.book-item-info-item.title{
    line-height: 1.4;
    margin-bottom: 0.8rem;
    font-size: 18px;
}
.book-item-info-item.title span{
    color: var( --purple-color);
    border-bottom: 2px solid var(--purple-color);
    
}
.book-item-info-item.title span:hover{
    color: #5d286f;
}
.book-item-info-item.author{
    line-height: 1.4;
    margin-bottom: 4px;
}
.book-item-info-item:not(.book-item-info-item.title) span:last-child{
    opacity: 0.8;
    
}
.book-item-info-item.publish-year{
    opacity: 0.6;
    font-style: italic;
    font-size: 14px;
}
@media screen and (min-width: 600px) {
    .booklist-content{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 992px) {
    .booklist-content{
        grid-template-columns: repeat(4, 1fr);
    }
    .book-item-img img{
        max-width: 120px;
    }

}
